apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: postgres-pvc
  namespace: collector
spec:
  accessModes: [ReadWriteOnce]
  resources:
    requests:
      storage: 5Gi
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: postgres-config
  namespace: collector
data:
  POSTGRES_USER: collector
  POSTGRES_DB: collectorshop
---
apiVersion: v1
kind: Secret
metadata:
  name: db-credentials
  namespace: collector
type: Opaque
stringData:
  POSTGRES_PASSWORD: collector_secret_2025
  DB_PASSWORD: collector_secret_2025
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres
  namespace: collector
spec:
  replicas: 1
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres
    spec:
      containers:
        - name: postgres
          image: postgres:16-alpine
          ports:
            - containerPort: 5432
          envFrom:
            - configMapRef:
                name: postgres-config
            - secretRef:
                name: db-credentials
          volumeMounts:
            - name: postgres-storage
              mountPath: /var/lib/postgresql/data
          livenessProbe:
            exec:
              command: ["pg_isready", "-U", "collector"]
            initialDelaySeconds: 15
            periodSeconds: 10
          readinessProbe:
            exec:
              command: ["pg_isready", "-U", "collector"]
            initialDelaySeconds: 5
            periodSeconds: 5
      volumes:
        - name: postgres-storage
          persistentVolumeClaim:
            claimName: postgres-pvc
---
apiVersion: v1
kind: Service
metadata:
  name: postgres
  namespace: collector
spec:
  selector:
    app: postgres
  ports:
    - port: 5432
      targetPort: 5432
